<!--
Rhinakels Herrera, 245785; Zale Sebastian Latonio, 242494 ; Nathan Riley Sy, 244311
March 16, 2026

I hereby attest to the truth of the following facts:

I have not discussed the HTML language code in my program with anyone
other than my instructor or the teaching assistants assigned to this course.

I have not used HTML language code obtained from another student, or
any other unauthorized source, either modified or unmodified.

If any HTML language code or documentation used in my program was
obtained from another source, such as a textbook or course notes, that has been clearly noted with proper citation in the
comments of my program.
-->

<!-- part 1 - no. 3 -->

{% extends 'tapasapp/base.html' %}
{% load static %}

{% block side %}
<ul class="side-nav mt-3">
    <li><a href="{% url 'view_menu' %}">Back to main</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="card mt-3 shadow-sm">
    <div style="background-color: #e9ecef; padding: 15px 20px; border-bottom: 1px solid #dee2e6;">
        <h5 class="font-weight-bold mb-0"><strong>Type in Dish Details:</strong></h5>
    </div>
    <div class="card-body px-4 pt-2">
        <div class="form-group">
            <label class="mt-2 mb-1" for="dish-name">Name:</label>
            <input type="text" id="dish-name" class="form-control">
        </div>

        <div class="row mt-2">
            <div class="col-md-4 mb-3">
                <label class="mt-2 mb-1" for="cook-time">Cook Time:</label>
                <input type="text" id="cook-time" class="form-control">
            </div>
            <div class="col-md-4 offset-md-1 mb-3">
                <label class="mt-2 mb-1" for="prep-time">Prep Time:</label>
                <input type="text" id="prep-time" class="form-control">
            </div>
        </div>

        <button class="btn btn-secondary mt-2">Add to dishes</button>
    </div>
</div>
{% endblock %}